.grid-contacto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 50px) 200px 50px;
    grid-template-areas:    "nombres    apellidos"
                            "email      telefono"
                            "asunto     asunto"
                            "mensaje    mensaje"
                            "enviar     enviar";
    gap: 15px;
}

.nombres-contacto{
    display: flex;
    width: auto;
    grid-area: nombres;
    font-size: 16px;
    width: 100%;
    color: blue;
}

.apellidos-contacto{
    display: flex;
    width: auto;
    grid-area: apellidos;
    font-size: 16px;
    width: 100%;
    color: blue;
}

.email-contacto{
    display: flex;
    width: auto;
    grid-area: email;
    font-size: 16px;
    width: 100%;
    color: blue;
}

.telefono-contacto{
    display: flex;
    width: auto;
    grid-area: telefono;
    font-size: 16px;
    width: 100%;
    color: blue;
}

.asunto-contacto{
    display: flex;
    width: auto;
    grid-area: asunto;
    font-size: 16px;
    width: 100%;
    color: blue;
    
}

.mensaje-contacto{
    display: flex;
    width: auto; 
    grid-area: mensaje;
    font-size: 16px;
    width: 100%;
    color: blue;  
}
/*.enviar-contacto{
    display: flex;
    width: 50px;
    grid-area: enviar;
    font-size: 16px;
    width: 100%;
    color: blue;
    background-color: cyan;
    text-align: center;
}*/
input{
    display: flex;
    font-style: italic;
    width: 100%; 
    color: purple;
    padding: 1em;
    vertical-align: top; 
    background-color:  rgb(245, 245, 245);
}
.cont_diseno{
    border: 1px solid transparent;
    background: rgba(210, 102, 102, 0.08);
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FD450B;
}
.cont_diseno:focus, 
.cont_diseno:hover {
    outline: none;
	    border: 1px solid #fd450b;
}
.cont_descrip{
    width: 100%;
    height: 150px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 1px solid transparent;
    color: orangered;
    font-size: 16px;
    resize: none;
    background: rgba(210, 102, 102, 0.08);
    letter-spacing: 2px;
}
.cont_descrip:focus,
.cont_descrip:hover {
    outline: none;
	border: 1px solid #fd450b;
}
.enviar-contacto{
    display: flex;
    grid-area: enviar;
    font-size: 16px;
    text-decoration: none;
    padding: 5px 15px;
    /* background-color: aliceblue; */
    /* width: 90%; */
    text-align: center;
    margin-left: 30%;
}
.enviar-contacto a{
    background-color: transparent;
    border: 1px solid #D62F2F;
    color: #D62F2F;
    /* margin-top: 5%; */
    opacity: 0.6;
    padding: 10px 60px;
    font-size: 17px;
    /* font-style: italic; */
    /* display: inline-block; */
    text-decoration: none;
}
.enviar-contacto a:hover
{
    background-color: transparent;
    opacity: 1;
}
.enviar-contacto a:active
{
	background-color: rgba(241, 188, 188, 0.42);
    border: 1px solid #F3A9A9;
    color: #F3A9A9;
    opacity: 0.8;
}