.cont_precios{
    display: inline-block;
    vertical-align: top;
    width: 600px;
    padding: 15px 0%;
    margin-top: 20px;
    border: 0px solid red;
    font-style: italic;
    
}
.precios {
    background-color: transparent;
    width: 90%;
    margin: 15px 0px 15px 18px;
    padding: 15px 10px;
    float: left;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    border: 0px solid yellowgreen;
}

.grid{
    display: grid;
    width: 550px;
    grid-template-columns: 250px repeat(3,1fr);
    grid-template-rows:  40px repeat(4,30px);
    text-align: center;
    margin: 5% auto;
    row-gap: 10px;
    column-gap: 1px;
    border: 0px solid rgb(136, 92, 25);
    box-sizing: border-box;
    margin-bottom: 60px;
 
}

.grid:hover{
    display: grid;
    width: 550px;
    opacity: 98%;
    background-color: rgb(255, 199, 199);
    grid-template-columns: 250px repeat(3,1fr);
    grid-template-rows:  40px repeat(4,30px);
    text-align: center;
    margin: 5% auto;
    row-gap: 10px;
    column-gap: 1px;
    border: 0px solid rgb(136, 92, 25);
    margin-bottom: 60px;
}

.grid>div{
    border: 0px solid blue; 
    color: #D66C2C;
    font-size: 16px;
    line-height: 0px;
    text-align: left;
    padding-left: 18px;
}

.grid>div:hover{
    border: 0px solid blue; 
    background-color: #969ae2 ;
    font-size: 16px;
    line-height: 0px;
    text-align: left;
    padding-left: 18px;
    color: wheat;
}

div>.titulo{
    border: 0px solid blue;
    color: #c25c5c;
    background-color: #ff80b0;
    line-height: 0px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    padding-left: 0px; 
}

div>.titulo:hover{
    border: 0px solid blue;
    color: #c25c5c;
    background-color: #ff80b1ac;
    line-height: 0px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    padding-left: 0px; 
    color: wheat;
}

/*
@media only screen and (max-width:600px){
    
}


*/