@font-face {
    font-family: 'nymphetteregular';
    src: url('Nymphette-webfont.eot');
    src: url('Nymphette-webfont.eot?#iefix') format('embedded-opentype'),
         url('nymphette_regular_macroman/Nymphette-webfont.woff2') format('woff2'),
         url('nymphette_regular_macroman/Nymphette-webfont.woff') format('woff'),
         url('Nymphette-webfont.ttf') format('truetype'),
         url('Nymphette-webfont.svg#nymphetteregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
 
body {
    width: 85%;
    margin: 0 auto!important;
	font-size: 0px;
}


.total {
    background-color: #1e6b30;
    /*  height: 800px; */
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}


/* header */

.menu_logo {
   background-color: #ff80b0;
   /*  height: 125px; */
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 15px 0px;
    float: left;
    text-align: center;
}

.txt_logo {
    background-color: #6d8788;
    /* text-align: left; */
    width: 25%;
    float: left;
}

.txt_logo p {
    margin: 0px;
    font-size: 20px;
    padding: 10px 0px 10px 0px;
}

.cont_logo {
    background-color: rgb(126, 136, 126);
    /* height: 85px; */
    width: 50%;
    text-align: center;
    /* margin: 25px 0px 0px 20px; */
    /* padding: 5px; */
    float: left;
}

.logo {
    height: 125px;
    width: 125px;
    background-color: #8EA2B3;
    background-image: url(images/idealogo1.png);
    float: center;
    margin: 0 auto;
    background-size: cover;
}
/* body */

.arriba {
    background-color: rgba(255, 199, 199, 0.73);
    /* height: 763px; */
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
}
.borde_circ{
height: 24px;
    width: 100%;
    float: left;}
.borde_head {
    background-color: rgba(255, 199, 199, 0.73);  
    background-image: url(images/borde_arri_final.png);
}
.izquierda {
	background-color: #ffc7c7;
    /* height: 100%; */
    /* font-size: 0px; */
    width: 18%;
    margin: 132px 0px 0px 1%;
    padding: 0px 0px 0px 0px;
    float: left;
    text-align: center;
    border: double 4px #DA515E;
}
.izquierda p{
    margin:0px;
}


.menu_princ {
    margin: 18px 0px 0px 8%;
    padding: 20px 35px 20px 35px;
    font-size: 17px;
    cursor: pointer;
    float: left;
    /* height: 100px; */
    border: #E68348 1px solid;
    background-color: rgba(232, 151, 103, 0.15);
    min-width: 48%;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    text-transform: capitalize;
}

.menu_princ:hover {
	color: #D65D07;
    border: #D65D07 1px solid;
	background-color: rgba(232, 151, 103, 0.25);
}
.menu_princ a{
    color: #E68348;
    text-decoration: none;
}    
.menu_princ p {
    margin: 0px;
}

.tit_menu{
    margin: 45px 0px 20px 0%;
    cursor: pointer;
    /* float: left; */
    /* min-width: 48%; */
    font-weight: 100;
    font-family: 'nymphetteregular', Arial, sans-serif;
}
.tit_menu a{
    color: #d66666;
    text-decoration: none;
    
}
.tit_menu p{
    font-weight: 700;
    font-size: 25px;
    
}

.tit_menu span{
    font-family: 'Raleway', sans-serif;
	font-size: 24px;
    padding: 0px 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.fin_nav {
    width: 100%;
    margin: 10px 0px 0px 0px;
    padding: 20px 0px 20px 0px;
    float: left; 
    /* height: 100px; */
    color: #DA515E;
    /* border: #b1aaaa 1px solid; */
    /* width: 95%; */
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    font-family: 'nymphetteregular', Arial, sans-serif;
}	
.fin_nav span{color: transparent;} 
.derecha {
    /* background-color: #ffc7c7; */
    /* height: 718px; */
    width: 61%;
	text-align: center;
    /* opacity: 0.8; */
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
}

.contiene {
	/* background-color: #757272; */
    /* height: 620px; */
    width: 85%;
    margin: 0px 0px 0px 0px;
    padding: 35px 0px 23px 0px;
    /* float: left; */
    text-align: center;
    border-bottom: 2px solid #d66666;
    display: inline-block;
    vertical-align: top;
}
.titulo_centro{
    font-family: 'Courgette', cursive;
    color: #d66666;
    font-size: 45px;
    margin: 0px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.cont_cuadritos{
    display: inline-block;
    vertical-align: top;
    padding: 15px 0%;
    /* width: 95%; */
    /* background-color: black; */
    /* float: left; */
    margin-top: 0px;
}
.cuadritos {
background-color: rgba(255, 255, 255, 0.26);
    /* height: 200px; */
    width: 44%;
    /* opacity: 0.8; */
    margin: 15px 0px 15px 18px;
    padding: 15px 10px;
    float: left;
    text-align: center;
    border: 1px solid pink;
    font-family: 'Raleway', sans-serif;
}
.imgcent {
	height: 150px;
    width: 70%;
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
}
.txtcentro {
    margin: 0px;
    padding: 10px; 
    min-height: 125px;
}
.txtcentro h2{
    font-family: 'Courgette', cursive;
    color: #d66666;
    font-size: 25px;
    margin: 0px;
}
.txtcentro p{
    color: #961622;
    font-size: 16px;
    margin-top: 20px;
    font-style: italic;
}
 
.boton_destaca{ 
background-color: transparent;
    /* width: 45%; */
    padding: 15px 15px;
    border: 1px solid #D62F2F;
    color: #D62F2F;
    /* text-decoration: none; */
    /* float: left; */
    margin-top: 1%;
    font-size: 17px;
    font-style: italic;
}
.boton1{ 
    text-decoration: none;
}


.listado {
	background-color: #ffc7c7;
    float: right;
    width: 17%;
    margin: 132px 1% 5px 0%;
    padding: 0px 0px 0px 0px;
    text-align: center;
    font-size: 16px;
    border: double 4px #DA515E;
}
.listado .menu_listado {
    margin: 15px 10px 5px 5%;
    padding: 0px 15px 0px 15px;
    /* cursor: pointer; */
    float: left;
    /* height: 100px; */
    border: #E68348 1px solid;
    background-color: rgba(232, 151, 103, 0.15);
    text-align: left;
    /* background-color: rgba(243, 104, 155, 0.15); */
    min-width: 70%;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    transition: background-image 1.2s;
}

.listado .menu_listado:hover {
    margin: 15px 10px 5px 5%;
    padding: 0px 15px 0px 15px;
    /* cursor: pointer; */
    float: left;
    /* height: 100px; */
    border: #D65D07 1px solid;
    background-image: linear-gradient( to right ,rgba(214, 93, 7, 0.10), 
    rgba(226, 89, 9, 0.18));
    text-align: left;
    /* background-color: rgba(243, 104, 155, 0.15); */
    min-width: 70%;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}
.menu_listado p{
	margin: 0px;
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
    color:#E25A09;
}
.menu_listado h2{
    margin: 18px 0px 12px 0px;
    font-size: 18px;
    font-weight: 200;
	text-transform: capitalize;
    color: #DA5B10;
}
.menu_listado a{
    text-decoration: none;

}
.menu_listado a span{
    font-size: 15px;
    font-weight: 700;
    /* font-style: italic; */
    color: #DA5B10;
}
.menu_listado a span:hover{
    border-bottom: 1px solid;
    /* line-height: 41px; */
    padding-bottom: 3px;
}
.fin_listado_not{
    width: 100%;
    /* margin: 10px 0px 0px 0px; */
    /* padding: 20px 0px 20px 0px; */
    float: left;
    /* height: 100px; */
    color: #DA515E;
    /* border: #b1aaaa 1px solid; */
    /* width: 95%; */
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    font-family: 'nymphetteregular', Arial, sans-serif;
}

.fin_listado_not p{
    margin: 0px 0px 0px 0px;
    padding: 15px 0px 20px 0px;}
	
.fin_listado_not span {

    color: transparent;
}
.boton2 {
    border: 0px solid;
}

.boton2:hover {
    border: 0px solid;
}
.borde_bottom{
    background-color: #969ae2;
	/* background-color: transparent; */
    background-image: url(images/borde_abaj_final.png);
}
/* footer */

.abajo {
    width: 100%;
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
    text-align: center;
    color: white;
    background-color: #969ae2;
    font-size: 20px;
    float: left;
}



.rrss {
    /* background-color: #6d8788; */
    text-align: center;
    width: 100%;
    /* height: 80px; */
    /* float: left; */
}

.iconos {
width: 35px;
    height: 35px;
    /* background: #5f6265; */
    /* float: right; */
    margin: 5px;
    border: 1px solid;
}

/*eventos*/

.derecha_evento {
    /* background-color: #ffc7c7; */
    /* height: 718px; */
    width: 61%;
    text-align: center;
    /* opacity: 0.8; */
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
}

.cont_cuadritos_evento {
    display: inline-block;
    vertical-align: top;
    padding: 15px 2%;
    width: 96%;
    /* background-color: black; */
    /* float: left; */
    text-align: center;
    margin-top: 0px;
}
.cuadritos_evento {
    background-color: rgba(255, 255, 255, 0.26);
    /* height: 200px; */
    width: 97%;
    /* opacity: 0.8; */
    margin: 10px 0px 20px 0px;
    padding: 15px 10px;
    float: left;
    text-align: center;
    border: 1px solid pink;
    font-family: 'Raleway', sans-serif;
}

.nombre_evento {
    /* background-color: #757272; */
    /* height: 620px; */
    width: 100%;
    margin: 0px 0px 20px 0px;
    padding: 3px 0px 10px 0px;
    /* float: left; */
    text-align: right;
    border-bottom: 1px solid #d66666;
    display: inline-block;
    vertical-align: top;
}
.nombre_evento h2{
    font-family: 'Courgette', cursive;
    color: rgb(228, 103, 103);
    font-size: 24px;
    font-weight: 100;
    margin: 0px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.cuatro_eventos{
    /* background-color: cadetblue; */
	border-bottom: 1px solid #d66666;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    /* min-height: 300px; */
    padding: 10px 8px;
    width: 98%;
}
.div4_evento{
       width: 45%;
    margin: 10px 5px 10px 10px;
    padding: 15px 5px;
    /* background-color: #961622; */
    display: inline-block;
    vertical-align: top;
    border: 1px solid #EF848E;
    /* border-radius: 20px; */
    text-align: center;
}
.div4_evento h3{
	margin: 0px;
    font-size: 25px;
    padding: 15px 0px;
    font-family: 'Courgette', cursive;
    color: #d66666;
}
.div4_evento p{
    margin: 0px;
    margin: 0px;
    font-size: 18px;
    padding: 5px 0px 15px 0px;
    /* color: #D47512; */
    /* font-family: 'Courgette', cursive; */
    color: #FB5555;
}
.div4_evento a{
	text-decoration: none;
}
.div4_evento a span {
    font-size: 15px;
    font-weight: 300;
    /* font-style: italic; */
    color: #F12768;
    padding: 5px 20px;
}
.img_eventos{
	width: 95%;
    border-radius: 150px;
   /*  border: 1px solid; */
}